/* mealtime and meal name */
.css-c1wwjp-MuiStack-root {
  margin-left: 50px !important;
  max-width: 220px;
  /* background-color: rgb(218, 211, 117); */
}

/* font properties for the joke inside a recipe */
.css-nrdprl-MuiTypography-root {
  font-style: italic !important;
}

/* expand the button width to fill the sides */
#linkDrawerButton {
  width: 92%;
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 7px;
  background-color: rgb(247,191,80,0.65);
  color: rgb(78, 0, 0) ;
  border-radius: 15px;
  background-color: rgb(247,191,80,0.65);
}

/* side buttons on hover */
#linkDrawerButton:hover{
  background-color: #f7bf50;
  text-decoration: underline;
  text-decoration-thickness: 2.5px;
}

.buttonIcon{
  height: 23px;
  margin-right: 8px;
}

/* keeps measure unit in a line */
.ingredientMeasure {
  font-size: 18px;
  display:inline;
}

.css-1q5tuht-MuiCardActions-root {
  max-height: 300px;
}


/* .css-le5do3-MuiPaper-root-MuiCard-root:hover{
  box-shadow: rgb(112, 112, 112, 0.4) 5px 5px !important;
} */

.mainPageHeaders{
  display: flex;
  justify-content: center;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 20px;
}

.headerIcon{
  height: 50px;
  margin-right: 15px;
}

.quantityField{
  text-align: center;
}


.paragraphTitleContainer{
  display: flex;
  justify-content: space-between;
  margin-left: 200px;
  margin-right: 200px;
}

.aboutUsParagraph{
  font-size: 25px;
  min-width: 800px;
  max-width: 800px;
}

.profilePicture{
  height: 300px;
  border-radius: 100px;
  border: 2px solid rgb(231, 179, 7);
}

.profileHolder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.individualProfile {
  text-align: center;
  margin: 30px;
  font-size: 20px;
}

.linkedin{
  height: 20px;
  margin-right: 5px;
}

.iconAndLinkHolder{
  display: flex;
  justify-content: center;
}

#confirmAndDeleteButtons{
  background-color: rgb(204, 204, 204) ;
  font-weight: bold;
  color: black;
  border: 2px black solid;
}

.confirmDeleteButton:hover{
  background-color: rgb(252, 102, 102) !important ;
}

.cancelDeleteButton:hover{
  background-color: #80c3d8 !important;
}

.dieteryHolderRecipeIndex{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

/* decrease margin top to move higher, decrease margin bottom to move buttons higher */
.dieteryHolderSearch{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  margin-top: -125px;
  margin-bottom: 72px;
  z-index: 2;
}

.dieteryHolderSearchPusher{
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: -125px;
  margin-bottom: 120px;
}

/* for custom dialog box when purchasing items */
.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
  border-radius: 20px !important;
  border: 3px solid rgb(231, 179, 7);

}